<h1>Our first page</h1>
<p>Hi there</p>

<ul>
{{#each model as |monster|}}
  <li>{{monster.name}} is level {{monster.level}}</li>
{{/each}}
</ul>

<!-- <ul>
{{#each model as |number|}}
  <li>{{number}}</li>
{{/each}}
</ul> -->


<!-- {{model.sentence}}
<h3>{{model.sentence2}}</h3> -->
